body{
    text-align: center ;
    background: linear-gradient( #49ff40 0%, #9640ff 100%);
    background-repeat: no-repeat ;
}

h1{
    text-shadow: 2px 2px #F8BBD0 ;
    font-size: 20px ;
}

#bio{
    padding: 20px;
    font-size: 18 ;
    text-align: center ;
}

.line{
   background-color: black
}