body {
    text-align: center;
    background-repeat: no-repeat;
    background: linear-gradient(#f01616 0%, #e8be15 100%);
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#menu {
    list-style: none;
    font-family: fantasy;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: orange;
}

#name {
    font-family: 'Festive', cursive;
    font-size: 25;
}

#links:hover {
    background-color: blue;
}

#links {
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

img{
    transition: transform .2s ;
}

img:hover{
    transform: scale(0.9)

}

#picture{
    width: auto ;
    height: 300px ;
    border-radius: 0% ;
    margin: 20px ;
}